#depoimentos{

    >h1{
        font-size: 48px;
        font-weight: 100;
        margin-bottom: 60px;
        text-align: center;

        span{
            font-weight: 900;
        }
    }
    
    .depoimentos-conteudo{
        display: flex;
        justify-content: space-between;
    }

    .depoimentos-conteudo > div{
        width: 30%;
        padding: 40px;
        border: #71717A solid 1px;
        border-radius: 10px;
        text-align: center;

        p{
            margin: 24px 0px;
        }

        div{
            width: 100%;
            height: 2px;
            background-color: #000000;
        }

        h2{
            margin: 24px 0px;
        }
    }
}