#habilidades{

    h1{
        font-size: 40px;
        font-weight: 100;
        margin-bottom: 40px;
        span{font-weight: 900;}
    }

    .habilidades-conteudo{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        gap: 40px;
        
        @media(max-width: 1200px){
            justify-content: space-around;
        }

        div{
            width: 200px;
            height: 200px;
            border: solid 2px #000000;
            border-radius: 4px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            &:hover{
                background-color: #000000;
                color: #ffffff;
            }

            img{
                width: 50px;
            }
        }
    }
}
